<div class="container">
  <div class="row">
    <div class="col-12">
      <button mat-stroked-button (click)="openOrganisationUnitFilter()">
        LOCATION</button
      >&nbsp;&nbsp;
      <button mat-stroked-button (click)="openPeriodFilter()">
        PERIOD</button
      >&nbsp;&nbsp;
      <button mat-stroked-button (click)="updateChart()">
        UPDATE
      </button>
      <div>
        <div id="chart-data"></div>
      </div>
      <div>selectedOrgUnitItems :{{ selectedOrgUnitItems | json }}</div>
      <div>selectedPeriods :{{ selectedPeriods | json }}</div>
    </div>
  </div>
</div>
